.box-login {
  display: flex;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
  position: relative;
}

input {
  padding: 10px 16px;
  border: 1 px green;
  border-radius: 10px;
  background-color: aliceblue;
}
label {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

button {
  padding: 10px 24px;
  border-radius: 10px;
  margin-left: 2px;
  margin-bottom: 8px;
  margin-top: 2px;
  background-color: lightgreen;
}
p {
  font-size: 24px;
  color: black;
}
